@import '../config/base';
@import '../config/colors';
@import '../config/mixins';

.MessageBox {
  position: relative !important;
  display: flex !important;
  align-items: stretch !important;
  background-color: $primary-color !important;
  color: $primary-color-text !important;
  margin: 0 !important;
  padding: 5px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) !important;
  min-height: 80px !important;

  &::before {
    content: ' ' !important;
    width: 100% !important;
    height: 15px !important;
    background-color: $primary-color-dark !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }

  &__text {
    flex-grow: 4 !important;
    color: $secondary-text-color !important;
    background-color: $primary-color-light !important;
  }

  &__send {
    color: $primary-color-text !important;
    background-color: $accent-color !important;
    flex-grow: 1 !important;
    text-transform: uppercase !important;
    @include transition(box-shadow 1s .5s);

    &:hover {
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23) !important;
    }
  }

  * {
    @include border-radius(4px);
    margin: 30px 5px 20px 5px !important;
    padding: 5px !important;
    border: 0 !important;
  }
}